{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "8.11.3"
        }
      }
    ]
  ],
  "compact": true,
  "plugins": [
    [
      "transform-import-to-read-file-sync",
      {
        "test": "\\.graphql$",
        "options": "utf8"
      }
    ],
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": [
          "Error"
        ]
      }
    ]
  ],
  "env": {
    "production": {
      "presets": [
        "minify"
      ]
    }
  }
}